$mainColor: #262622;
$mainColorHover: #5a5a07;
$textColor: #fff;

.navbar {
  background-color: $mainColor;
  padding: 5px, 2px ;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $textColor;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 10px;

    li {
      display: inline;

      a {
        color: $textColor;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background 0.3s;

        &:hover {
          background-color: $mainColorHover;
        }
        &:active {
          background-color: $mainColorHover;
        }
      }
    }
  }
}
